@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');
@import "tailwindcss";

:root {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  line-height: 1.5;

  background-color: #fdf0d5;
}

@theme {
  --font-comic-relief: "Comic Relief", system-ui; 
}
